<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5">
  <link rel="stylesheet" href="/style.css" />
  <script data-goatcounter="https://tbanalytics.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
  <script src="/footnote.js"></script>
  <title> Tanay Biradar </title>
  <link rel="shortcut icon" href="/assets/favicon.ico"/>
</head>

<body>
  <header>
    <a href="https://tanaybiradar.com" class="title">
      <h1>Tanay Biradar</h1>
    </a>
    <nav>
      <a href="/">Home</a>
      <a href="/blog">Blog</a>
      <a href="https://github.com/TanayB11/">Github</a>
      <a href="https://www.linkedin.com/in/tanayb11/">LinkedIn</a>
    </nav>
  </header>

  <main>
    {% block content %} {% endblock %}
  </main>

  <footer>
      Made with <a href="https://codeberg.org/alanpearce/zola-bearblog">ʕ•ᴥ•ʔ</a>
  </footer>
</body>
