{% extends "base.html" %}

{% block content %}

  <p>Posts with 🌱 have less developed ideas, while those with 🌳 are more thought-out.</p>
  <p>Subscribe to my <a href="/rss.xml" target="_blank">RSS feed!</a> </p>

  <ul class="blog-posts">
    <!-- If you are using pagination, section.pages will be empty. You need to use the paginator object -->  
    {% for page in section.pages %}
      <li>
        <span>
          <i>
            <time datetime={{ page.date }}>
              {{ page.date }}
            </time>
          </i>
        </span>
        <a href="{{ page.permalink | safe }}">{{ page.title }} {{ page.description }}</a>
      </li>

    {% endfor %}
  </ul>

{% endblock content %}
