{% extends "base.html" %}

{% block content %}
  <h2>Colophon</h2>

  <p>
    This website is written with the <a href="https://www.getzola.org">Zola</a>
    static site generator, and the styles are derived from both
    <a href="https://bearblog.dev/">bearblog.dev</a> and
    <a href="https://stephango.com/flexoki">Flexoki</a>.
  </p>

  <p>
    All custom fonts are hosted on this domain, and I use
    <a href="https://goatcounter.com/">GoatCounter</a> for minimal
    analytics, and I host on GitHub Pages. The code for this website is
    <a href="https://github.com/TanayB11/me">open-source</a>.
  </p>

  <p>
  Since you're here, here's a random photo I took:
  </p>

  <center>
    <img src="/images/colophon/valley.png" width="30%" style="border-radius: 0.5em;"/>
  </center>

{% endblock content %}

