{% extends "base.html" %}

{% block content %}
  <nav>
    <a href="/">Home</a>
  </nav>

  <h2>Friends</h2>

  <p>
    I'm a fan of the IndieWeb <a href="https://indieweb.org/">philosophy</a>,
    where <em>humans</em> organically recommend content to other humans.
    In spirit of that, here are the websites of some of my friends:
  </p>

  <ul>
    <li> <a target="_blank" href="https://www.edisonzhang.me/">Edison Zhang</a> </li>
    <li> <a target="_blank" href="https://www.johnlins.com/">John Lins</a> </li>
    <li> <a target="_blank" href="https://www.justinji.com/">Justin Ji</a> </li>
    <li> <a target="_blank" href="https://www.kongriley.com/">Riley Kong</a> </li>
  </ul>

{% endblock content %}

