{% extends "base.html" %}

{% block content %}
  <p>Hello! 👋🏽</p>

  <p>
    I'm a student at UC Santa Barbara, and I focus on software + machine learning.
  </p>

  <p>
    I work towards using these tools to do real good for humans.
    Recently, I've been researching ML safety, robustness, and interpretability.
  </p>

  <p>
    My hobbies currently include cooking and learning to play the guitar.
  </p>

  <p>
    I occasionally write here! Here are some places you may want to visit:
  </p>

  <ul>
    <li>My <a href="/blog/now">"now"</a> page: a public list of projects + goals</li>
    <li>My <a href="/blog/antilibrary">antilibrary</a>: a collection of books: read, being-read, and to-be-read</li>
    <li>My <a href="/blog/failure-resume">torn-out pages</a>: a failure resume</li>
  </ul>

  <p>
    <a href="mailto:me@tanaybiradar.com">Email</a> •
    <a href="https://github.com/TanayB11">GitHub</a> •
    <a href="https://www.linkedin.com/in/tanayb11/">LinkedIn</a> •
    <a href="https://bsky.app/profile/tanaybiradar.com">Bluesky</a>
  </p>

  <p> See you around! </p>
{% endblock content %}

