{% extends "base.html" %}

{% block content %}
  <p>Hello! 👋🏽</p>

  <p>
    My name is Tanay, I currently work as a machine learning engineer.
  </p>

  <p>
    I recently graduated from UC Santa Barbara with a degree in computer science.
  </p>

  <p>
    I occasionally write here! Here are some places you may want to visit:
  </p>

  <ul>
    <li>My <a href="/blog/now">"now"</a> page: a public list of projects + goals</li>
    <li>My <a href="/blog/antilibrary">antilibrary</a>: a collection of books: read, being-read, and to-be-read</li>
    <li>My <a href="/blog/failure-resume">torn-out pages</a>: a failure resume</li>
  </ul>

  <p>
    <a href="mailto:me@tanaybiradar.com">Email</a> •
    <a href="https://github.com/TanayB11">GitHub</a> •
    <a href="https://www.linkedin.com/in/tanayb11/">LinkedIn</a>
  </p>

  <p> See you around! </p>
{% endblock content %}

