{% extends "base.html" %}

{% block content %}
  <nav>
    <a href="/blog">Writing</a>
    <a href="https://github.com/TanayB11/">Github</a>
    <a href="https://www.linkedin.com/in/tanayb11/">LinkedIn</a>
  </nav>

  <p>Hello! 👋🏽</p>

  <p>
    I'm a CS student at UC Santa Barbara. I aim to work with awesome tech
    while solving issues I care about—climate change, urban planning,
    pedagogy, privacy.
  </p>

  <p>
    At the moment, I'm most interested in NLP,
    reinforcement learning, and mechanistic interpretability, but I do spend
    significant time on software-related <a href="https://github.com/TanayB11/">projects</a>.
    I also love to teach!
  </p>

  <p>
    My hobbies currently include cooking, bouldering, and cycling.
  </p>

  <p>
    I occasionally write here. Here are some places you may want to visit:
  </p>

  <ul>
    <li>My <a href="/blog/now">"now"</a> page: a public list of projects + goals</li>
    <li>My <a href="/blog/antilibrary">antilibrary</a>: a collection of books: read, being-read, and to-be-read</li>
    <li>My <a href="/blog/failure-resume">torn-out pages</a>: a failure resume</li>
  </ul>

  Send me a <a href="mailto:me@tanaybiradar.com">message</a> if you'd like to get in touch.
  See you around!

  <p class="handwritten">- Tanay</p>
{% endblock content %}

